<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ImyService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/myService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ImyService" contract="myService.ImyService"
                name="NetTcpBinding_ImyService">
                <identity>
                    <userPrincipalName value="DESKTOP-MKRJETA\matthew dunning" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:59047/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="SolutionRef.IService1"
                name="BasicHttpBinding_IService11" />
        </client>
    </system.serviceModel>
</configuration>